body {
  padding-top: 60px;
  color: #666; }

.glyphicon {
  margin-right: 5px; }

.noneDisplay {
  display: none; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.clear_margin {
  margin: 0 auto !important; }

.font-bold {
  font-weight: bold; }

.noborder {
  border: 0px !important; }

.topborder {
  border-top: 1px solid #eee; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.font-normal {
  font-size: 14px !important; }

.small_hr {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  border-top: 1px solid #ccc !important; }

.small_hrLight {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  border-top: 1px solid #eee !important; }

.space-right {
  margin-right: 4px; }

.space-right-big {
  margin-right: 10px; }

.margin-top {
  margin-top: 8px; }

.link_normal a {
  color: #999; }

.link_normal a:hover {
  color: #698ebf;
  text-decoration: none; }

.avatar-img {
  width: 41px;
  height: 41px; }

.pagination > li > span {
  cursor: pointer; }

.logo {
  margin: 0 auto;
  width: 160px;
  height: 74px;
  background: url(../ding-logo.png) no-repeat;
  background-size: contain; }

.font-black {
  color: #000; }

.font-grey {
  color: #666; }

.marginAuto {
  margin: 0 auto !important; }

.navbar_backgroud {
  background: #222;
  background: linear-gradient(to bottom, #252527, #1c1c1e);
  border-bottom: 1px solid #222;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15); }

.navbar_colorWhite > li > a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  color: #C2C2C2 !important; }

.navbar_colorWhite > li > a:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  background-color: #313035 !important;
  background: linear-gradient(to bottom, #4C4A54, #3A3940);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12); }

.navbar_portraitBox {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.navbar_portrait {
  width: 25px !important;
  height: 25px !important; }

.navbar_clickable {
  cursor: pointer; }

.navbar_active {
  background-color: #313035 !important;
  background: linear-gradient(to bottom, #4C4A54, #313035);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12); }

.navbar_active > a {
  color: #fff !important; }

.navbar_ask_button {
  margin-top: 8px; }

.nav_search_box_hint {
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  padding: 5px; }

.nav_search_box_hint:hover {
  background-color: #fafafa;
  color: inherit; }

.typeahead {
  width: 100%; }

.typeahead li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; }

.userHome_layoutDiv {
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 0 #f2f4f5;
  margin-bottom: 20px; }

.userHome_layoutDivHead {
  overflow: hidden;
  padding: 7px 14px;
  border-bottom: 1px solid #EEE; }

.userHome_layoutDivHead a {
  color: #666; }

.userHome_layoutDivHead span {
  display: inline-block;
  float: right; }

.userHome_name {
  color: #000000 !important; }

.userHome_profileHeader {
  padding: 5px 18px; }

.userHome_profileHeaderLeft {
  margin-top: 5px;
  float: left;
  width: 17%;
  margin-left: 15px; }

.userHome_profileHeaderLeft a {
  margin-top: 5px;
  margin-left: 5px; }

.userHome_profileHeaderRight {
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  width: 78%; }

.userHome_profileItem {
  margin-left: 5px; }

.userHome_profileMoreItem {
  margin-left: 6px;
  border-left: 1px solid #eee;
  padding-left: 6px; }

.userHome_selfIntro {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  padding-right: 10px; }

.userHome_pointSummary {
  margin-top: 10px;
  padding: 12px 18px;
  border-top: 1px dotted #eee; }

.userHome_number {
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px; }

.userHome_profileNavbar {
  background-color: #fcfcfc;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 2px #f0f0f0 inset;
  border-radius: 0 0 4px 4px;
  font-size: 16px;
  display: table;
  width: 100%; }

.userHome_profileNavbar a {
  float: left;
  padding: 12px 20px;
  font-weight: 700;
  color: #666;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
  display: block; }

.userHome_profileNavbar a:hover {
  color: #259; }

.userHome_profileNavbar a span {
  color: #999;
  font-weight: 400; }

.userHome_sideBarSection {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  margin-top: 8px;
  padding-bottom: 5px; }

.userHome_follows {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  margin-top: 10px; }

.userHome_follows a {
  float: left;
  text-decoration: none;
  padding: 2px 30px 8px 0;
  display: block; }

.userHome_follows a span {
  color: #999;
  font-weight: 400; }

.userHome_followsMore {
  border-left: 1px solid #eee;
  padding-left: 8px !important; }

.userHome_followTopicTitile {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  padding-top: 0;
  line-height: 1;
  white-space: nowrap;
  display: inline-block; }

.userHome_followTopicItems {
  margin-top: 5px;
  margin-bottom: 5px; }

.userHome_followTopicItems a {
  isplay: block;
  height: 34px;
  width: 34px;
  border-radius: 3px; }

.userHome_followTopicItems a img {
  width: 34px !important;
  height: 34px !important; }

.userHome_sitesCopyright {
  text-align: left !important; }

.sitesCopyright {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  text-align: left;
  color: #999;
  clear: both; }

.sitesCopyrightInner {
  width: auto;
  border-top-color: #eee;
  margin: 0 auto; }

.sitesCopyrightInner ul {
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 18px; }

.sitesCopyrightInner ul li {
  float: left;
  margin-right: 22px; }

.sitesCopyrightInner ul li a {
  color: #666; }

.sitesCopyrightInner div {
  text-align: right; }

.userMessage_Head {
  color: #000000;
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-bottom: 5px; }

.userMessage_Head button {
  margin-top: 5px;
  padding-left: 27px;
  padding-right: 27px; }

.userMessage_Content {
  color: #000000; }

.userMessage_Content img {
  width: 45px;
  height: 45px; }

.userMessage_ContentItemBottom {
  margin-top: 10px;
  text-align: right;
  color: #999;
  font-size: 12px;
  font-weight: 400; }

.userMessage_ContentItemBottomLeft {
  float: left; }

.userMessage_verticalLine {
  padding: 0 3px;
  color: #BBB;
  font-family: Arial; }

.userSetting_nav {
  margin-top: 8px; }

.userSetting_content {
  margin-top: 5px;
  color: #000000; }

.userSetting_contentLabelLeft {
  text-align: left !important; }

.userSetting_EditA {
  color: #999;
  display: inline-block;
  font-size: 11px;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  padding: 0 5px 0 2px;
  margin: 0 0 0 5px;
  text-decoration: none; }

.userSetting_section {
  border-bottom: 1px solid #f2f2f2;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px; }

.userSetting_info {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px; }

.userSetting_Item a {
  margin-right: 10px; }

.userSetting_Item a:hover {
  background: #eff6fa; }

.userSetting_labelAdjust {
  width: 18% !important; }

.userEdit_completeBar {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.userEdit_item {
  padding: 24px 12px;
  border-bottom: 1px solid #eee; }

.userEdit_info {
  color: #999;
  font-size: 12px;
  font-weight: 400; }

.userEdit_cancelButton {
  color: #259;
  text-shadow: none;
  background: 0 0;
  border: 0;
  box-shadow: none;
  margin-left: 20px; }

.userEdit_buttonGroup {
  margin-top: 10px; }

.userEdit_itemList {
  list-style: none;
  padding: 10px 0 0;
  margin-left: 5px; }

.userEdit_itemList li {
  position: relative;
  padding: 10px 50px 10px 10px;
  max-width: 350px;
  width: 100%;
  border: 1px solid transparent;
  box-sizing: border-box; }

.userEdit_itemList li:hover {
  border: 1px solid #ddd;
  border-radius: 4px; }

.userEdit_itemListDetailImage {
  float: left;
  margin-right: 10px; }

.userEdit_itemListDetailImage img {
  width: 34px !important;
  height: 34px !important; }

.userEdit_itemListDetailContent {
  font-size: 14px;
  line-height: 34px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700; }

.userEdit_itemListDetailContent a:hover {
  text-decoration: none; }

.userEdit_itemListDetailButton {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 10px;
  margin: auto;
  border: 0;
  outline: 0; }

.login_body {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  background: #f7fafc;
  -webkit-font-smoothing: subpixel-antialiased;
  padding-top: 0px !important; }

.login_main {
  height: auto;
  padding-top: 6%; }

.login_footer {
  font-size: 12px;
  line-height: 42px;
  text-align: center; }

.login_footer span {
  color: #aebdc9; }

.login_footer_dot {
  margin: 0 3px;
  font-size: 12px;
  line-height: 42px;
  text-align: center; }

.login_mainBody {
  min-height: 510px;
  display: block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
  margin: 0 auto;
  padding: 40px 0;
  width: 300px;
  margin-bottom: -40px; }

.login_mainBodyHeader {
  text-align: center;
  display: block;
  margin-bottom: 20px; }

.login_mainBodyOperation {
  text-align: center;
  display: block; }

.login_nav {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center; }

.login_nav_options {
  position: relative;
  display: inline-block; }

.login_nav_options a {
  color: #555;
  float: left;
  width: 4em;
  line-height: 35px;
  opacity: .7;
  -ms-filter: "alpha(Opacity=70)";
  transition: opacity .15s, color .15s;
  text-decoration: none; }

.login_nav_options a:hover {
  color: #222; }

.login_nav_options_active {
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
  color: #3291d9; }

.login_nav_slidebar {
  position: absolute;
  left: 0;
  /*0-4.1*/
  bottom: 0;
  margin: 0 .4em;
  width: 3em;
  height: 2px;
  background: #5f98c4;
  transition: left .15s ease-in; }

.login_input_group {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px 0; }

.login_input_group input {
  padding: 1em .8em !important;
  width: 100%;
  box-sizing: border-box;
  height: auto !important;
  border: none;
  -webkit-box-shadow: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #ccc; }

.login_input_wrapper {
  position: relative;
  margin: 0;
  overflow: hidden; }

.login_input_error {
  position: absolute;
  top: 0;
  right: -300px;
  padding: 0 20px;
  line-height: 48px;
  color: #c33;
  width: 320px;
  cursor: text;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(20px, 0);
  transition: .25s ease-out;
  font-size: 12px;
  text-align: right; }

.login_input_error_show {
  right: 8px; }

.login_input_group input:focus {
  border-color: #ccc;
  box-shadow: none; }

.login_mainBodyOperation button {
  margin-top: 10px;
  width: 300px; }

#login_bg_text {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

#login_bg_text > div {
  position: absolute;
  top: 0;
  left: 0;
  color: #EBECED;
  font-weight: 400;
  white-space: nowrap; }

#login_bg_line {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2; }

#login_bg_line > div {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #EBECED;
  height: 1px;
  /* change origin of the rotation */
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  /* IE 9 */
  -webkit-transform-origin: 0% 0%;
  /* Safari and Chrome */
  -moz-transform-origin: 0% 0%;
  /* Firefox */
  -o-transform-origin: 0% 0%;
  /* Opera */ }

#contentForNoticeBar {
  width: 308px;
  margin: 0 auto;
  display: none; }

.noticeBarWapper {
  width: 100%;
  margin: 0 0 5px 0; }

.noticeBar_navbar li {
  width: 33%;
  text-align: center; }

.noticeBar_bottomBar {
  padding-top: 8px;
  border-top: 1px solid #ccc; }

.noticeBar_content {
  overflow-y: auto;
  height: 300px;
  width: 100%; }

.noticeBar_content > div > div {
  border-bottom: 1px solid #eee;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0.5) 1%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0) 94%, rgba(255, 255, 255, 0.5) 99%, #fff 100%);
  display: block;
  padding: 8px 2px 8px 2px; }

.sideBar_section {
  border-bottom: 1px solid #ccc; }

.sideBar_sectionItem {
  margin: 10px 3px 10px 3px; }

.sideBar_item {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 2px; }

.sideBar_item li {
  display: block;
  margin-bottom: 3px;
  list-style: none; }

.sideBar_item > li > a {
  display: block;
  height: 28px;
  padding-left: 4px;
  line-height: 28px;
  color: #666; }

.sideBar_item > li > a:hover {
  color: #259;
  background: #eff6fa;
  border-radius: 3px;
  text-decoration: none; }

.sideBar_item_active {
  color: #259 !important;
  background: #eff6fa;
  border-radius: 3px;
  text-decoration: none; }

.notice_day {
  margin-bottom: 15px;
  color: #000; }

.notice_dayItem {
  padding-top: 5px; }

.notice_dayItem > div {
  padding-top: 5px; }

.notice_button {
  width: 100%; }

.bookmark_list_item {
  padding: 5px; }

.question_topic_tag {
  padding: 1px 8px;
  font-size: 12px;
  margin: 0px 10px 0px 0px; }

.comment_box {
  position: relative;
  margin: 10px 0 35px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: none; }

.comment_spike {
  position: absolute;
  top: -13px;
  left: 110px; }

.comment_spike_arrow {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff; }

.comment_item {
  margin: 10px !important; }

.reply_op {
  display: none; }

.comment_form {
  margin: 0;
  padding: 1em;
  border-top: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  background: #fbfbfb; }

.comment_item_content {
  display: inline-block; }

.comment_for_user {
  margin-top: 10px;
  display: none; }

.answer_overall {
  padding-left: 55px; }

.answer_voting {
  clear: left;
  float: left;
  margin-top: 0px;
  margin-left: -60px;
  height: auto;
  text-align: center;
  width: 55px; }

.answer_voting .active {
  background-color: #698EBF;
  color: #FFFFFF; }

.answer_voting button {
  width: 40px;
  background-color: #EFF6FA;
  border: none;
  color: #698EBF;
  padding: 3px 3px;
  margin-top: 3px; }

.answer_voting button:hover {
  background-color: #698EBF;
  color: #FFFFFF; }

.answer_vote {
  font-size: 12px;
  color: #999; }

.answer_userImg {
  top: 0px;
  right: 0px;
  position: absolute; }

.answer_more button {
  padding-bottom: 8px;
  font-size: 18px;
  text-align: center;
  width: 100%; }

/*for question_homepage.html*/
.questions_questionLayout {
  padding-left: 55px;
  min-height: 100px;
  margin: 20px 0px 20px 0px; }

.questions_questionContent {
  color: #000; }

.questions_side {
  float: left;
  margin-left: -55px;
  width: 50px;
  height: auto;
  text-align: center; }

.questions_side img {
  width: 40px;
  margin-bottom: 8px; }

.questions_side button {
  border: none;
  padding: 5px 5px;
  margin-bottom: 8px;
  width: 41px; }

.questions_sideButton {
  background-color: #EFF6FA;
  color: #698EBF; }

.questions_sideButton:hover {
  background-color: #698EBF;
  color: #FFFFFF; }

.questions_side > button > span {
  margin-left: 9px; }

.questions_questionTopic a {
  color: #999; }

.questions_questionTopic .subscribe {
  font-size: 12px;
  color: #698EBF;
  margin-left: 10px; }

.horizontal_item {
  margin-top: 5px; }

.horizontal_item a {
  margin-right: 10px;
  color: #778087;
  white-space: nowrap; }

.horizontal_item .active {
  color: #337ab7; }

.horizontal_item a:hover {
  text-decoration: none;
  color: #698ebf; }

/*end of question_homepage.html*/
/*begin of topic.html*/
.topics_topicTag button {
  margin-bottom: 5px;
  background-color: #FFFFFF;
  border-color: #DAEBFF;
  color: #225599; }

.topics_topicTag a {
  margin-bottom: 5px;
  background-color: #FFFFFF;
  border-color: #DAEBFF;
  color: #225599; }

.topics_subtopics_count {
  font-size: 12px;
  color: #898989;
  float: right; }

.topics_item {
  margin-top: 5px; }

.topics_item_image {
  width: 50px;
  height: 50px;
  margin-top: 4px; }

.topics_subscribe {
  margin-top: 2px;
  font-size: 13px;
  color: #698ebf; }

.topics_subscribe:hover {
  color: #259; }

.topics_name {
  font-size: 16px; }

.topics_item_hots a {
  margin: 5px 0 5px 0;
  display: block; }

#topics_more_button {
  width: 100%;
  font-size: 18px; }

.topic_item {
  margin-top: 15px !important; }

.topic_avatar {
  width: 64px;
  height: 64px; }

.topic_category {
  margin-top: 20px;
  display: block;
  list-style-type: none;
  -webkit-padding-start: 0; }

.topic_category li {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #eee;
  float: left; }

/*# sourceMappingURL=app.css.map */
