{{#each answers}}
<div class="answer_overall">
    <div class="answer_voting">
        <button type="button" class="btn btn-primary">
            <div>
                <span class="glyphicon glyphicon-triangle-top clear_margin"></span>
            </div>
            {{votes}}
        </button>
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-triangle-bottom clear_margin"></span>
        </button>
    </div>


    <div class="answer_userInfo clearfix">
        <div class="float-left"><strong>{{user_name}}</strong>, {{user_bio}}</div>
        <img class="answer_userImg" src="image/sample_icon.png" alt="">
    </div>

    <div>
        <span class="answer_vote">{{votes}} Vote(s)</span>
    </div>

    <div class="answer_content font-black">
        {{answer}}
    </div>

    <div class="horizontal_item">
        <a href="#">Posted on {{created_at}}</a>
        <a href="#" onclick="showComment(event, this, 'answer', '{{id}}', 'answer_comment_{{id}}', 'question_comment_content_{{id}}');"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Comment ({{numComment}})</a>
        <a href="#"><span class="glyphicon glyphicon-heart" aira-hidden="true"></span>Like</a>
        <a href="#"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Bookmark</a>
        <a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Not helpful</a>
        <a href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Report</a>
    </div>


    <div class="comment_box" id="answer_comment_{{id}}">
        <div class="comment_spike"></div>
        <div class="comment_list">
            <div class="comment_content" id="question_comment_content_{{id}}">

            </div>

            <div class="text-center" id="nav_question_comment_content_{{id}}">

            </div>

            <div class="comment_form clearfix">
                <div class="form-group">
                    <input type="email" class="form-control" id="reply_content" placeholder="Write Your Comment Here" onfocus="show_form(event, 'answer_comment_button')">
                </div>
                <div class="float-right form-group" id="answer_comment_button">
                    <a href="#" role="button" class="space-right-big" onclick="cancel_from(event, 'answer_comment_button')">Cancel</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

        </div>
    </div>

</div>
<hr>
{{/each}}