<!--this is the template for answer summary item (without any javascript implementation)-->
<!--the template will rendered by javascript template engine `handlebars.js`-->
{{#each questions}}
<div class="questions_questionLayout">
    <div class="answer_voting">
        <img src="{{topic_pic}}" class="img-rounded avatar-img">
        {{#if answer}}
            <button type="button"
                    class="btn btn-primary questions_sideButton" disabled
            >
                {{answer.netVotes}}
            </button>
        {{/if}}
    </div>

    <div class="questions_questionTopic">
        From Topic:
        {{#each topics}}
        <a href="/topic/{{id}}">{{name}}</a>
        {{/each}}
    </div>

    {{#if answer}}
        <div class="font-bold">
            <a href="/answer/{{answer.id}}"> {{title}} </a>
        </div>
    {{^}}
        <div class="font-bold">
            <a href="/question/{{id}}"> {{title}} </a>
        </div>
    {{/if}}

    {{#if answer}}
        <div>
            <a href="/people/{{answer.owner.url_name}}">
                <strong class="font-black">{{answer.owner.name}}</strong></a>, {{answer.owner.bio}}.
        </div>

        <div class="questions_questionContent clearfix">
            <div class="_summary">
                {{{answer.answer}}}
            </div>
        </div>
    {{/if}}
</div>
<hr>
{{/each}}