<!--this is the template for usercenter home question/answer item-->
<!--the template will rendered by javascript template engine `handlebars.js`-->
{{#each questions}}
<div class="questions_questionLayout" id="draft_answer_{{answer.id}}">
    <div class="answer_voting">
        <img src="{{topic_pic}}" class="img-rounded avatar-img">
    </div>

    <div class="questions_questionTopic">
        From Topic:
        {{#each topics}}
        <a href="/topic/{{id}}">{{name}}</a>
        {{/each}}
    </div>

    <div class="font-bold">
        <a href="#"> {{title}} </a>
    </div>

    <div>
        <a href="/people/{{answer.owner.url_name}}"><strong class="font-black">{{answer.owner.name}}</strong></a>, {{answer.owner.bio}}.
    </div>

    <div class="questions_questionContent clearfix">
        <div id="answer_summary_{{answer.id}}" class="_summary">
                <span id="answer_summary_content_{{answer.id}}">
                    {{{answer.answer}}}
                </span>
            <a href="#" class="_show_all" data-toggle="expand_all" data-type="answer" data-id="{{answer.id}}">Show all</a>

            {{#if answer.canEdit}}
            <a href="#" class="_show_all" onclick="editAnswer(event, {{answer.id}})">Edit</a>
            {{/if}}
        </div>
        <div id="answer_full_{{answer.id}}" class="noneDisplay">
                <span id="answer_full_content_{{answer.id}}">

                </span>
            {{#if answer.canEdit}}
            <a href="#" class="_show_all" onclick="editAnswer(event, {{answer.id}})">Edit</a>
            {{/if}}
        </div>
        {{#if answer.canEdit}}
        <div id="answer_editor_{{answer.id}}_wrapper" class="noneDisplay">
            <textarea row="4" id="answer_editor_{{answer.id}}"></textarea>
            <div class="margin-top clearfix">
                <button type="button" class="btn btn-link float-right"
                        data-toggle="hide" data-hide="answer_editor_{{answer.id}}_wrapper"
                        data-show="answer_summary_{{answer.id}}">Cancel</button>
                <button type="button" class="btn btn-warning float-right"
                        onclick="updateAnswer({{answer.id}})">Update</button>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="horizontal_item">
        <a href="#" onclick="userHome_subscribe_question(event, 'q_{{id}}_subscribe', '{{id}}')">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{#if subscribed}}
            <span id="q_{{id}}_subscribe" class="subscribed">Unsubscribe</span>
            {{^}}
            <span id="q_{{id}}_subscribe">Subscribe Question</span>
            {{/if}}
        </a>
        <a href="#" class="text-danger"
           data-action="delete_draft" data-type="answer"
           data-id="{{answer.id}}">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="text-danger">
                Delete Draft
            </span></a>
        <a href="/question/{{id}}#answer">
            <span class="glyphicon glyphicon-pushpin"></span>To Question
        </a>
        <a href="#" data-action="publish_draft" data-type="answer"
        data-id="{{answer.id}}">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>Publish
        </a>
    </div>

</div>
<hr>
{{/each}}