<!--this is the template for short hightlight item-->
<!--the template will rendered by javascript template engine `handlebars.js`-->
{{#each questions}}
<div class="font-bold clearfix">
    <a href="/question/{{id}}" class="float-left highlight_title_short">{{title}}</a>
    <div class="float-right space-right highlight_topic_short">
        {{#each topics}}
            <a href="topic/{{id}}" class="font-grey">{{name}}</a>
        {{/each}}
    </div>
</div>
<hr class="small_hrLight">
{{/each}}