<!--this is the template for userCenter subscribed question item-->
<!--the template will rendered by javascript template engine `handlebars.js`-->
{{#each questions}}
<div class="media">
    <div class="media-left">
        <div class="userCenter_subscribed_visit">
            <strong class="text-center">{{visit}}</strong>
            <div class="text-center">Visit</div>
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{#if isClosed}}
            <a href="/question/{{id}}" class="text-warning">{{title}}</a>
            <span class="label label-warning">Closed</span>
            {{^}}
            <a href="/question/{{id}}">{{title}}</a>
            {{/if}}
        </h4>
        <span class="font-greyLight">
            <a href="#"
               class="font-greyLight"
               onclick="userHome_subscribe_question(event, 'subscribe_text_{{id}}', '{{id}}', 'subscribe_count_{{id}}')"
            >
                {{#if subscribed}}
                    <span id="subscribe_text_{{id}}" class="subscribed">Unsubscribe</span>
                {{^}}
                    <span id="subscribe_text_{{id}}" class="">Subscribe</span>
                {{/if}}
            </a>
            •
            {{numAnswer}} Answers
            •
            <span id="subscribe_count_{{id}}">{{numSubscriber}}</span> Subscriber
        </span>
    </div>
</div>
{{/each}}