<!--this is the template for reply item-->
<!--the template will rendered by javascript template engine `handlebars.js`-->
{{#each group2Topics}}
<div class="row">
    <div class="col-md-6">
        <div class="media topics_item">
            <div class="media-left">
                <a href="#">
                    <img class="media-object topics_item_image" data-src="..." alt="Generic placeholder image" src="image/sample_icon.png">
                </a>
            </div>
            <div class="media-body topics_more">
                <div class="clearfix">
                    <div class="float-left topics_name"><a href="/topic/{{left.id}}">{{left.name}}</a></div>
                    {{#if left.isSubscribed}}
                        <a class="float-right topics_subscribe active"
                           href="#"
                           onclick="topics_subscribe(event, this, '{{left.id}}')">
                            <span class="glyphicon glyphicon-plus noneDisplay" aria-hidden="true"></span>
                            <span>Unsubscribe</span>
                        </a>
                    {{~^~}}
                        <a class="float-right topics_subscribe"
                           href="#"
                           onclick="topics_subscribe(event, this, '{{left.id}}')">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span>Subscribe</span>
                        </a>
                    {{~/if~}}
                </div>
                <div class="font-black">{{left.description}}</div>
                {{#if left.numSubtopic}}
                    <div class="topics_subtopics_count">{{left.numSubtopic}} subtopic(s)</div>
                {{/if}}
            </div>
        </div>
    </div>

    {{#if right.id}}
        <div class="col-md-6">
            <div class="media topics_item">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object topics_item_image" data-src="..." alt="Generic placeholder image" src="image/sample_icon.png">
                    </a>
                </div>
                <div class="media-body topics_more">
                    <div class="clearfix">
                        <div class="float-left topics_name"><a href="/topic/{{right.id}}">{{right.name}}</a></div>
                        {{#if right.isSubscribed}}
                            <a class="float-right topics_subscribe active"
                               href="#"
                               onclick="topics_subscribe(event, this, '{{right.id}}')">
                                <span class="glyphicon glyphicon-plus noneDisplay" aria-hidden="true"></span>
                                <span>Unsubscribe</span>
                            </a>
                        {{~^~}}
                            <a class="float-right topics_subscribe"
                               href="#"
                               onclick="topics_subscribe(event, this, '{{right.id}}')">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span>Subscribe</span>
                            </a>
                        {{~/if~}}
                    </div>
                    <div class="font-black">{{right.description}}</div>
                    {{#if right.numSubtopic}}
                        <div class="topics_subtopics_count">{{right.numSubtopic}} subtopic(s)</div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
<hr class="small_hrLight">
{{/each}}